site_name: Stock RaceTrack
site_url: https://laiyk5.github.io/stock-racetrack
repo_name: laiyk5/stock-racetrack
repo_url: https://github.com/laiyk5/stock-racetrack
nav:
  - Home: index.md
  - Blog:
      - blog/index.md
  - Documents: documents/index.md
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: black
      accent: pink
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: black
      accent: pink
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.path
    - navigation.sections
    - navigation.expand
plugins:
  - blog:
      blog_toc: true
      archive_date_format: MMMM yyyy
      pagination_per_page: 5
  - meta
  - tags
  - search
  - social
  - mkdocstrings
extra_css:
  - stylesheets/extra.css
